body {
  font-family: "Noto Sans SC","Arial","Microsoft yahei";
}
a {
  text-decoration: none !important;
  color: #2a2a2a;
  font-size: 12px;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
#hover:hover {
  color: #990002;
}
input:focus{
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
div,
a {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/*
* 首页
*/
.header {
  width: 100%;
  background: white;
  top: 0;
  z-index: 99;
  background: url("../img/topBg.png");
  background-size:100%;
}
.header .logo {
  width: 100%;
}
.header .logo img {
  width: 100%;
}
.header .logonav{
  height: 150px;
  display: flex;
  align-items: center;
}


/*修改提示文字的颜色*/

input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 12px;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 12px;
}
input::-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 12px;
}
.header .navBg .serch{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navBg .serch .input-group{
    display: flex;
    align-items: center;
}
.header .navBg .iconfont{
  display: block;
  background: #990002;
  font-size: 26px;
  height: 35px;
  color: white;
  width: 40px;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
}
.header .navBg input{
  border: none;
}
/*内容头部*/
.top_header {
  display: flex;
  width: 100%;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}
.top_header>div{
    display: flex;
}
.top_header #lable h4.active{
  background-color: #ebebeb;
  border-bottom: 2px solid #990002;
}
.top_header #lable h4.active a{
  color: #990002;
}
.top_header #lable h4 a{
  font-size: 14px;
  display: block;
  margin-right: 0;
  color: white;
}
.top_header #lable h4:hover{
  cursor: pointer;
}
.top_header h4{
  padding: 10px 17px;
  background-color:#990002 ;
  color: white;
  font-size: 14px;
  margin-right: 5px;
  border-bottom: 2px solid #990002;
  transition: all .36s ease;
}
.top_header a{
  margin-right: 10px;
  color: #909090;
}
.top_header a:hover {
  color: #990002;
}
.content {
  margin: 30px auto;
}


.listBox li a {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  font-size: 14px;
  transition: all .36s ease;
}
 .top_header a:hover{
  color: #e42437;
}
 .listBox li a:hover {
  color: #e42437;
  padding-left: 5px;
}
.listBox li a .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.listBox li a .time {
  flex: 0.4;
  text-align: right;
  color: #7b8591;
}

.grop{
  display: flex;
  margin-bottom: 33px;
}
.grop .gropImg{
  width: 150px;
  height: 95px;
  border: 1px solid #e42437;
  overflow: hidden;
}
.grop .gropImg img{
  width: 100%;
  transition: all .36s ease;
}
.grop:hover .gropImg img{
  transform: scale(1.1);
}
.grop .gropTitle{
  margin-left: 10px;
  flex: 1;
}
.grop .gropTitle h4{
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #e42437;
  font-weight: 500;
}
.grop .gropTitle p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 30px;
  font-size: 12px;
  line-height: 25px;
}
.gropBox>div{
  display: none;
}
.gropBox>div:nth-child(1){
  display: block;
}



.hero .heroHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 2px solid #e4e4e4;
}
.hero .heroHeader h4{
  color: #990002;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #990002;
  padding-right: 25px;
  padding-bottom:13px ;
  margin-bottom: -2px;
}
.hero .heroHeader h4::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #990002;
  left: 5px;
}
.hero .heroHeader a{
  margin-right: 22px;
  color: #9d9d9d;
}
.hero .heroHeader a:hover{
  color: #990002;
}
.hero .slideItem{
 display: flex;
}
.hero .slideItem a{
  display: block;
  margin-right: 20px;
}
.hero .slideItem a:last-child{
  margin-right: 0;
}
.hero .slideItem .fc-title{
  font-size: 14px;
  text-align: center;
  margin: 11px 0;
  overflow: hidden;
  height: 20px;
}
/*footer*/
.footer {
  width: 100%;
  background: #494949;
  padding: 30px 0;
}
.footer .footer_img img {
  width: 100%;
}
.footer .col-md-3 {
  margin-top: 20px;
}
.footer .footer_top h3 {
  color: white;
  font-size: 20px;
}
.footer .footer_top .line {
  display: flex;
  margin-top: 15px;
}
.footer .footer_top .line .l1 {
  width: 40px;
  border-bottom: 2px solid #990002;
  margin-right: 5px;
}
.footer .footer_top .line .l2 {
  flex: 1;
  border-bottom: 2px solid white;
}
.footer ul li a {
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid #e6e8f5;
  line-height: 35px;
}
.footer ul li a:hover {
  border-bottom-color: #990002;
}
.footer ul li a:hover p {
  color: #990002;
}
.footer ul li a:hover .iconfont {
  margin-left: 10px;
}
.footer ul li a .iconfont {
  margin-right: 10px;
  transition: all 0.2s ease;
  font-size: 12px;
}
.footer ul li a p {
  flex: 1;
}
.footer .touch {
  color: white;
  font-size: 12px;
  margin-top: 10px;
}
.footer .touch > div {
  padding: 5px 0;
  display: flex;
}
.footer .touch .icons {
  width: 19px;
  height: 19px;
  background: url("../img/icon.png") no-repeat;
  margin-right: 5px;
}
.footer .touch .icons.i2 {
  background-position-y: -26px;
}
.footer .touch .icons.i3 {
  background-position-y: -53px;
}
.footer .touch p {
  flex: 1;
}
.footer .ewm{
  text-align: center;}
.footer .ewm>div{
   margin-right: 5px;
   width: 33%;
}
.footer .ewm>div p{
  margin-top: 5px;
}

.copyright {
  background: #333333;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 15px 0;
}
/*内容页*/
.contentBanner img {
  width: 100%;
}
.contentPage {
  background-color: #e4e8ee;
  padding-bottom: 20px;
}
.contentBox .pcleftNav {
  background-color: white;
  margin-top: 20px;
}
.contentBox .pcleftNav .top {
  background-color: #990002;
  color: white;
  line-height: 45px;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.contentBox .pcleftNav .top .iconfont {
  font-size: 18px;
  flex: 1;
  text-align: right;
  margin-right: 15px;
}
.contentBox .pcleftNav ul {
  padding-bottom: 10px;
}
.contentBox .pcleftNav ul li {
  padding: 0 10px;
}
.contentBox .pcleftNav ul li a {
  display: block;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px dashed #d1d1d1;
  line-height: 40px;
  font-size: 15px;
  color: #636363;
}
.contentBox .pcleftNav ul li a:hover {
  color: #990002;
  border-bottom-color: #990002;
}
.contentBox .right {
  background-color: white;
  margin-top: 20px;
  min-height: 400px;
}
.contentBox .right .top {
  display: flex;
  padding: 0 20px;
  padding-top: 15px;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
.contentBox .right .top h4 {
  border-bottom: 3px solid #990002;
  padding-bottom: 10px;
  margin-bottom: -2px;
}
.contentBox .right .top .link {
  flex: 1;
  text-align: right;
}
.contentBox .right .artice {
  padding: 20px;
}
.contentBox .right .artice .title {
  font-size: 20px;
  text-align: center;
}
.contentBox .right .artice .abs {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 15px 0;
  color: #9d9d9d;
}
.contentBox .right .artice .contentAtice table {
  width: 100% !important;
}
.contentBox .right .artice .contentAtice img {
  max-width: 100%;
}
.contentBox .right .list li{
  padding: 0 20px;
}
.contentBox .right .list li a {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px dashed #9d9d9d;
}
.contentBox .right .list li a span {
  margin-right: 15px;
  transition: all 0.36s ease;
  font-size: 14px;
}
.contentBox .right .list li a .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.contentBox .right .list li a .time {
  margin-right: 10px;
}
.contentBox .right .list li a:hover {
  color: #990002;
}
.contentBox .right .list li a:hover span {
  margin-left: 5px;
}
@media (max-width: 990px) {
  .footer_logo,
  .footer_nav {
    display: none;
  }
  .out {
    width: auto !important;
  }
  .banner {
    margin-top: 50px;
  }
  .news {
    display: block;
  }
  .news .news-list {
    margin-left: 0;
    margin-top: 20px
    ;
  }
  .contentBanner {
    margin-top: 50px;
  }
  .footer_top{
    margin-top: 15px;
  }
  .contentBox .right{
    margin-top: 0;
  }
  .pagination{
    padding: 0 !important;
  }
  .content{
    margin: 0 auto;
  }
  .top_header h4{
    padding: 10px 12px;
  }
  .hero .slideItem{
    width: 100%;
    flex-wrap: wrap;
  }
  .hero .slideItem a:nth-child(3){
    margin-right: 0;
  }
  .hero .slideItem a{
    flex: 1 30%;

  }
}
@media (max-width: 440px) {
  .hero .slideItem a:nth-child(odd){
    margin-right: 0;
  }
}

/***分页条**/
.pagination{
    width: 100%;
  display: flex;
  justify-content: center;
}
.pagination ul{
    line-height: 24px;
    font-size: 14px;
    text-align: right;
}
/* .pagination-number{
    display: inline-block;
}
.pagination-number li{
    display: inline-block;
    margin-left: 8px;
} */
.pg-1{
    text-align: right;
}
.pagination ul span,.pg-1 .total{
    display: inline-block;
    height: 24px;
    padding: 0 15px;
    color: #fff;
    border: 1px solid #990002;
    background-color: #990002;
}
.pagination ul a,.pg-1 a,.pg-1 .current{
    display: inline-block;
    height: 24px;
    margin:0 5px 8px;
    padding: 0 7px;
    color: #7e7e7e;
    border: 1px solid #dbdbdb;
}
.pagination ul li.active a,.pg-1 .current{
    color: #fff;
    border: 1px solid #990002;
    background-color: #990002;
}
.pagination ul li a:hover,.pg-1 a：hover{
    color: #990002;
}
/*回到头部*/
.go_top {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 85%;
  right: 10px;
  cursor: pointer;
  z-index: 99;
}
.go_top img {
  width: 100%;
}


::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background: #d1d1d1;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: white;
}