body {
  font-family: MicrosoftYaHei;
  background: #eff8ff;
}
a {
  text-decoration: none !important;
  color: #2a2a2a;
  font-size: 12px;
}
a:hover {
  color: red;
}
ul {
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
div,
a {
  margin: 0;
  padding: 0;
  color: white;
}
li {
  list-style: none;
}
.row > div {
  padding: 0 5px;
  margin: 10px 0;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background: #d1d1d1;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: white;
}
.pagination {
  width: 100%;
  text-align: center;
}
.pagination ul span,
.pg-1 .total {
  display: inline-block;
  height: 24px;
  padding: 0 15px;
  color: #fff;
  border: 1px solid #00468c;
  background-color: #00468c;
}
.pagination ul a,
.pg-1 a,
.pg-1 .current {
  display: inline-block;
  margin: 0 5px 8px;
  padding: 2px 7px;
  color: #7e7e7e;
  border: 1px solid #dbdbdb;
}
.pagination ul li.active a,
.pg-1 .current {
  color: #fff;
  border: 1px solid #00468c;
  background-color: #00468c;
}
.pagination ul li a:hover,
.pg-1 a：hover {
  color: #00468c;
}
.copyright {
  background: #00468c;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}
/*回到头部*/
.go_top {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 85%;
  right: 10px;
  cursor: pointer;
  z-index: 99;
}
.go_top img {
  width: 100%;
}
/*public----------------------------------------------------public*/
/*头部*/
.header {
  width: 100%;
  background: url("../img/header.png") no-repeat;
  background-size: 100% 100%;
}
.header .row {
  display: flex;
  align-items: center;
}
.header .navBg {
  padding-top: 30px;
}
.header .navBg img {
  width: 80%;
}
.header .logo {
  width: 100%;
}
.header .logo img {
  width: 100%;
}
/*内容*/
.content {
  background: white;
  padding: 25px;
  margin: 10px auto;
}
.content .top_header {
  display: flex;
  justify-content: space-between;
  background: #00468c;
  align-items: center;
  padding: 0 15px;
}
.content .top_header h4 {
  padding: 15px 0;
  font-size: 16px;
}
.content .top_header a {
  font-size: 12px;
}
.content .listBox {
  padding: 0 10px;
  border: 1px solid #e8e8e8;
}
.content .listBox ul li a {
  display: flex;
  align-items: center;
  line-height: 35px;
}
.content .listBox ul li a p,
.content .listBox ul li a span {
  color: #000000;
}
.content .listBox ul li a .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .listBox ul li a .iconfont {
  width: 20px;
}
.content .listBox ul li a .time {
  width: 60px;
  text-align: right;
}
.content .server {
  display: flex;
}
.content .server .left {
  height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  background: #00468c;
}
.content .server .left > div {
  text-align: center;
}
.content .server .left p {
  margin: 0 auto;
  font-size: 20px;
  width: 15px;
  text-align: center;
}
.content .server .left a {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}
.content .server .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.content .server .right a {
  display: block;
  color: #2a2a2a;
  text-align: center;
}
.content .job {
  width: 100%;
  height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/job.png");
  background-size: 100% 100%;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 8px;
}
.content .viedo .videoImg img {
  width: 100%;
}
.content .phone .phoneBox {
  padding-top: 10px;
}
.content .phone .phoneBox > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.content .phone .phoneBox > div .icon {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../img/icon.png");
  margin-right: 10px;
}
.content .phone .phoneBox > div .icon.i4 {
  background-position-y: -42px;
}
.content .phone .phoneBox > div .icon.i5 {
  background-position-y: -78px;
}
.content .phone .phoneBox > div .icon.i6 {
  background-position-y: -113px;
}
.content .phone .phoneBox > div .txt {
  color: #2a2a2a;
}
.footer {
  background: #00468c;
  padding: 15px 0;
}
.footer .row > div {
  margin-bottom: 15px;
}
.footer .link {
  display: flex;
  align-items: center;
}
.footer .link a {
  display: block;
  color: white;
  position: relative;
  padding: 10px 20px;
}
.footer .link a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  right: 0;
  background: white;
}
.footer .link a:hover {
  color: red;
}
.footer .link :last-child:after {
  background: none;
}
.footer .logo img {
  width: 100%;
}
.footer .touch {
  color: white;
}
.footer .touch p {
  line-height: 30px;
}
.footer .ewm {
  display: flex;
  flex: 1;
}
.footer .ewm div {
  margin-right: 15px;
}
.footer .ewm img {
  width: 100%;
}
.footer .ewm p {
  color: white;
  margin-top: 15px;
  text-align: center;
}
/*-------------------内容列表页页----------------------*/
/*# sourceMappingURL=index.css.map */